PAMM_USERS=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback
OPENAI_API_KEY=
GEMINI_API_KEY=
CAMERAS=
KRAKEN_API_KEY=
KRAKEN_PRIVATE_KEY=
NUVIO_EMAIL=
NUVIO_PASSWORD=
SUPABASE_ANON_KEY=
NUVIO_BEARER_TOKEN=
MDBLIST_API_KEY=
TRAKT_API_KEY=
SIMKL_API_KEY=
